.feynman__link {
  display: block;
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;

}

.feynman__link:hover {
opacity: .7;
transition: 0.5s;
}

